html {
  background-color:rgb(31, 31, 31)
 }

main {
    padding-top: 120px;
    padding-bottom: 0;
     }

@media screen and (min-width: 1024px)
   { main {
    padding-top: 120px;
     } 
  }
  
  #nav-bar {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
  }
  
  #header-logo {
    height: 90px;
    padding-left: 5px;
  }
  
  main {
    width: 100%;
  }
  
  .profile-logo {
    height: 325px;
    width: 325px;
  }
  
  a:link {
    color: rgb(0, 153, 255);
  }

  a:visited {
    color: rgb(0, 153, 255);
  }
  

  a:hover {
    background-color: black;
  }

p {
    text-align: left;
    color: white;
}

h1 {
  text-align: center;
  font: fantasy;
  color: white; 
}

.content {
 width: 42vw;
 height: 75vh;
}

#content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
}

#bulletin {
  margin-left: 5%;
   margin-right: 5%;
}

#bulletin-text {
  margin-left: 5%;
   margin-right: 5%;
}

section {
  width: 0 auto;
  margin: 0 auto;
  white-space:nowrap; 
  overflow: scroll;
  overflow-y: hidden;
}

#photo {
  height: 200px;
}

@media screen and (max-width: 767px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
   .content {
       width: 157.5px;
       height: 157.5px;
    }
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
      flex-direction: row;
      align-items: center;
      list-style: none;
      text-align: right;
      width: 100%;
}

#text {
  color: black;
  font: fantasy;
  text-align: center;
}

#insta-plug {
  margin-left: 5%;
  margin-right: 5%;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 65vw;
}

.dropdown-content a:hover {background-color: #f1f1f1}

@media screen and (max-width 767px) { 
/* Change color of dropdown links on hover */
.dropdown-content a:active {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {
  display: block;
  margin-left: 0vw;
}
}

@media screen and (min-width 768px) and (max-width 1023px) { 
/* Change color of dropdown links on hover */
.dropdown-content a:active {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {
  display: block;
  margin-left: 0vw;
}
}
