main {
    padding-top: 120px;
    padding-bottom: 0
     }

@media screen and (min-width: 1024px)
   { main {
    padding-top: 120px;
     } 
  }
  
  #nav-bar {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
  }
  
  #header-logo {
    height: 90px;
    padding-left: 5px;
  }
  
  main {
    width: 100%;
    left: 0;
  }
  
  #profiles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
  .profile-logo {
    height: 325px;
    width: 325px;
  }

  @media screen and (max-width: 767px)
  { #header-logo {
    height: 90px;
    padding-top: 0px;
    }
  .profile-logo {
    height: 105px;
    width: 105px;
  }
  }
  
  a:hover {
    background-color: black;
  }

p {
    text-align: center;
    color: black;
}

h1 {
  text-align: center;
}

.content {
 width: 42vw;
 height: 75vh;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;
     text-align: center;
  }
   .content {
       width: 155px;
       height: 155px;
    }
}
