main {
    padding-top: 110px;
    padding-bottom: 5px;
     }
  
   @media screen and (min-width: 1024px)
   { main {
    padding-top: 160px;
    padding-bottom: 1px;
     } 
  }
  
  #nav-bar {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
  }
  
  #header-logo {
    height: 90px;
    width: ;
    padding-left: 5px;
  }
  
  main {
    height: 100vh;
    width: 100%;
  }
  
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
  .profile-logo {
    height: 325px;
    width: 325px;
  }

  @media screen and (max-width: 767px)
  { #header-logo {
    height: 90px;
    padding-top: 0px;
    }
  .profile-logo {
    height: 315px;
    width: 315px;
  }
  div {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  }
  
  a:hover {
    background-color black;
  }

p {
    text-align: center;
    font-family: Brush Script MT;
}
