body {
    background-color: black;
  }
    
    #nav-bar {
    height: 89px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
  }
  .nav-links {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    padding-right: 1vw;
    width: 100%;
  }

  .about-link {
    text-decoration: none;
    color: #15f2fd;
  }
  
  .about-link:hover {
    text-decoration: underline;
    }
  
    #header-logo {
    height: 75px;
    padding-top: 7px;
    padding-left: 2vw;
    }
  
  #welcome-section {
    background-image: url(https://lh3.googleusercontent.com/bB7lC1VgZrYWySlMPx4xR26Q6amzQZYNxstob9WKmqljfhda-BJ8105sdmCR1sh2BBD1wZ090j1WfvZfgOojcBnsiiWJMXR9HWUcVAK362J4S9uL2ayR4KiKWmKxGQ9q26AVSExcew=w2400);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  
  @media only screen and (max-width: 767px) {
  #welcome-section {background-image: url(https://lh3.googleusercontent.com/xzOK0U5rx1iho3gml20cfe58PtLTdx2fs4bnVym-9HLGQgRfThInND2aFP5P8f6zlX964RC1CjDePpTEt5y6qE5krCd2ASGJf626aj0BwrXl2Y5zJHvbJW7VC648vjsdzQ53fczbuw=w2400);
    background-size: cover;
      }
      
  .mobile-button .fab, .far {
  font-size: 50px;
      }
      
      #social-links {
      padding-top: 1vh;
      flex-direction: column;
    }
}
  
  #social-links {
    padding-top: 42vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .fab, .far {
color: #15f2fd;
  }
  
  #about {
    height: 50vh;
    width: 100;
  }

  h1, #about-text {
    color: white;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  h1 {
    font-size: 45px;
    padding-top: 25px;
  }

p {
  color: white;
  text-align: left;
}
  #about-text {
    font-size: 25px;
  }

  #about-link {
    color: white;
    text-align: right;
    padding-left: 10px;
  }

  .content {
    width: 0 auto;
    margin: 0 auto;
    white-space:nowrap; 
    overflow: scroll;
  }
  
  .pic-container {
  width: 1500px;
  }
  
  #photo {
    height: 200px;
  }
