#nav-bar {
    height: 89px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
  }
  
  #header-logo {
    height: 75px;
    padding-left: 5px;
  }
  
  #insta-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    padding-right: 1vw;
    width: 100%;
  }

  main {
    padding-bottom: 50px;
  }
  
  body {
    overflow: scroll;
    padding-top: 80px;
  }
  
  section {
    width: 0 auto;
    margin: 0 auto;
    white-space:nowrap; 
    overflow: scroll;
  }
  
  .pic-container {
  width: 1500px;
  }
  
  #photo {
    height: 200px;
  }
  
  p {
    padding-top: 10px;
  }
