  html {
  background-color:rgb(31, 31, 31)
 }

#nav-bar {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
  }
  
  #header-logo {
    height: 90px;
    padding-left: 5px;
  }

  h1 {
      padding-top: 115px;
      text-align: center;
      color: white;
  }

p { 
    color: white;

  #info {
      text-align: center;
  }

  div, p, h1, info {
    padding-left: 5%;
    padding-right: 5%;
  }

img {
    max-width: 100%;
}
